{{> header}}

<section class="blog__section" id="home">
  <div>
    <a href="/addpost">Add Post</a>
  </div>
  {{#each allPosts}}
  <ul class="blog__list">
    <h4 class="blog__list__title"> Title : {{this.title}}</h4>
    <li class="blog__list__description">description : {{this.description}}</li>
    <li class="blog__list__content">content :{{this.content}}</li>
    <li class="blog__list__publishedAt"> publishedAt :{{this.published_at}} </li>
    <li class="blog__list__username">added by :{{this.user_id}}</li>
  </ul>
  {{/each}}

</section>

{{> footer}}