<section class="blog__section" id="home">
  {{#if isLogedIn}}
  <div class="add_post_btn">
    <a class="add_post_link" href="/addpost"> + Add Post</a>
  </div>
  {{/if}}
  {{#each allPosts}}
  <ul class="blog__list">
    <li>
      <div>
        <h4 class="blog__list__title"> Post Title : {{this.title}}</h4>
        <h4 class="blog__list__description"> description : {{this.description}}</h4>
        <h4 class="blog__list__content"> content : {{this.content}}</h4>
        <h4 class="blog__list__publishedAt"> publishedAt : {{this.published_at}} </h4>
        <h4 class="blog__list__username"> added by : {{this.user_name}}</h4>
      </div>
    </li>
    
   

  </ul>
  {{/each}}

</section>

