{{> header}}

<section class="blog__section" id="home">
  <div class="add_post_btn">
    <a href="/addpost">Add Post</a>
  </div>
  {{#each allPosts}}
  <ul class="blog__list">
    <li>
      <div>
        <h4 class="blog__list__title"> Title : {{this.title}}</h4>
        <h4 class="blog__list__description">description : {{this.description}}</h4>
        <h4 class="blog__list__content">content :{{this.content}}</h4>
        <h4 class="blog__list__publishedAt"> publishedAt :{{this.published_at}} </h4>
        <h4 class="blog__list__username">added by :{{this.user_id}}</h4>
      </div>
    </li>
    
    <hr>

  </ul>
  {{/each}}

</section>

{{> footer}}